---
title: Archive
---

<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

	<!-- Basic -->
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Jets - Responsive HTML5 Template">
	<meta name="author" content="funcoders.com">

	<!-- Favicons -->
	<link rel="shortcut icon" type='image/x-icon' href="img/favicon/logo-favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap/bootstrap.css" />

	<!-- AWESOME and ICOMOON fonts -->
	<link rel="stylesheet" href="css/fonts/awesome/css/font-awesome.css">
	<link rel="stylesheet" href="css/fonts/icomoon/style.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="js/library/slider-revolution/css/settings.css">
	<link rel="stylesheet" href="css/theme.css">
	<link rel="stylesheet" href="css/theme-elements.css">
	<link rel="stylesheet" href="css/color/orange.css">

	<!-- Modernizr -->
	<script type="text/javascript" src="js/library/modernizr/modernizr.js"></script>

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="css/ie8.css">
		<script src="js/library/respond-js/respond.src.js"></script>
	<![endif]-->

</head>
<body class="blog-grid">

	<!-- preload loaders -->
	<img style="display:none" src="img/loader-light.gif" alt="loader" title="loader">
	<img style="display:none" src="img/loader-dark.gif" alt="loader" title="loader">
	{% include header.html %}
	<div id="header-space"></div>
	<div id="page-content" role="main">
		<div class="container">

			<div id="content">

				<header class="devider-bottom devider-heavy devider-margin-medium">
					<!--Won't be here on launch-->
					<h1>March 2014</h1>
					<!--<p class="excerpt">Morbi mauris tortor, vulputate vel luctus nec, commodo non urna.Morbi mauris tortor, vulputate vel luctus nec,Morbi mauris tortor.</p>-->
				</header>
				<p>..............................................................</p>
				<header class="devider-bottom devider-heavy devider-margin-medium">
					<!--Won't be here on launch-->
					<h1>February 2014</h1>
					<!--<p class="excerpt">Morbi mauris tortor, vulputate vel luctus nec, commodo non urna.Morbi mauris tortor, vulputate vel luctus nec,Morbi mauris tortor.</p>-->
				</header>
				<p>..............................................................</p>
				<header class="devider-bottom devider-heavy devider-margin-medium">
					<h1>January 2014</h1>
					<!--<p class="excerpt">Morbi mauris tortor, vulputate vel luctus nec, commodo non urna.Morbi mauris tortor, vulputate vel luctus nec,Morbi mauris tortor.</p>-->
				</header>
				<section class="posts grid" data-columns="3">
					<article class="post post-grid post-type-text">
						<div class="post-heading">
							
							<div class="thumbnail">
								<a class="link" href="blog-single.html">
									<span class="btn btn-icon-link"></span>
									<img src="img/uploads/post/thumbnail_M.jpg" alt="Image" title="Image">
								</a>
							</div><!-- .thumbnail -->

						</div><!-- .post-heading -->
						<div class="post-content">

							<div class="type"></div><!-- .type -->
							<div class="title">
								<h2 class="h4"><a href="blog-single.html">Sed ut perspiciatis unde omnis iste</a></h2>
								<p class="meta">
									<span class="meta-category"><a href="#">neque</a> / <a href="#">vitae</a> / <a href="#">eget</a></span>
									<span class="meta-comments">35 comments</span>
									<span class="meta-date">1 Jan</span>
								</p>
							</div><!-- .title -->
							<div class="text">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sapien mauris, placerat sit amet lorem eleifend, iaculis lobortis arcu. Ut viverra semper placerat. Nam facilisis mauris vitae sem tempor, in ornare dolor vulputate. Integer sollicitudin eros leo, quis condimentum odio varius at. In pellentesque <a href="blog-single.html">READ MORE</a></p>
							</div><!-- .text -->
							<p class="meta">
								<span>
									<a class="avatar" href="page-user.html">
										<span class="btn btn-icon-user"></span>
										<img src="img/user/johndoe_avatar.jpg" alt="John Doe" title="John Doe">
									</a>
									<a href="page-user.html">John Doe</a>
								</span>
							</p><!-- .meta -->

						</div><!-- .post-content -->
					</article><!-- .post -->
					<article class="post post-grid post-type-gallery">
						<div class="post-heading">

							<div class="thumbnail">
								<a class="link" href="blog-single.html">
									<span class="btn btn-icon-link"></span>
									<img src="img/uploads/post/thumbnail_M.jpg" alt="Image" title="Image">
								</a>
							</div><!-- .thumbnail -->

						</div><!-- .post-heading -->
						<div class="post-content">

							<div class="type"></div><!-- .type -->
							<div class="title">
								<h2 class="h4"><a href="blog-single.html">Qui dolorem ipsum quia</a></h2>
								<p class="meta">
									<span class="meta-category"><a href="#">mauris</a> / <a href="#">neque</a></span>
									<span class="meta-comments">18 comments</span>
									<span class="meta-date">7 Jan</span>
								</p>
							</div><!-- .title -->
							<div class="text">
								<p>Mauris auctor est a consectetur fringilla. Curabitur vitae diam pellentesque, ultricies lorem et, tincidunt lectus. Nunc dictum fringilla pretium. Nunc placerat elit rutrum, aliquet eros ac, ornare enim. Curabitur dapibus sem nec dui cursus ultricies eget vitae sapien. Duis sit amet ligula at lectus <a href="blog-single.html">READ MORE</a></p>
							</div><!-- .text -->
							<p class="meta">
								<span>
									<a class="avatar" href="page-user.html">
										<span class="btn btn-icon-user"></span>
										<img src="img/user/johndoe_avatar.jpg" alt="Daniel Anderson" title="Daniel Anderson">
									</a>
									<a href="page-user.html">Daniel Anderson</a>
								</span>
							</p><!-- .meta -->

						</div><!-- .post-content -->
					</article><!-- .post -->
					<<article class="post post-grid post-type-video">
						<div class="post-heading">

							<div class="thumbnail">
								<div class="slider">
									<img src="img/uploads/post/thumbnail_M.jpg" alt="Image" title="Image">
									<img src="img/uploads/post/thumbnail_M.jpg" alt="Image" title="Image">
									<img src="img/uploads/post/thumbnail_M.jpg" alt="Image" title="Image">
								</div><!-- .slider -->
							</div><!-- .thumbnail -->

						</div><!-- .post-heading -->
						<div class="post-content">

							<div class="type"></div><!-- .type -->
							<div class="title">
								<h2 class="h4"><a href="blog-single.html">Voluptate velit</a></h2>
								<p class="meta">
									<span class="meta-category"><a href="#">vitae</a> / <a href="#">sed</a> / <a href="#">diam</a> / <a href="#">vel</a></span>
									<span class="meta-comments">43 comments</span>
									<span class="meta-date">13 Jan</span>
								</p>
							</div><!-- .title -->
							<div class="text">
								<p>Nulla et diam sed justo tincidunt imperdiet. Integer vitae ullamcorper turpis, quis bibendum magna. Maecenas et tortor vel nibh commodo aliquet nec eu tellus. Nulla eu dui rhoncus, malesuada nisi eu, tempor mauris. Proin laoreet vitae dolor eget molestie. Morbi ultrices vulputate massa, id egestas nisl <a href="blog-single.html">READ MORE</a></p>
							</div><!-- .text -->
							<p class="meta">
								<span>
									<a class="avatar" href="page-user.html">
										<span class="btn btn-icon-user"></span>
										<img src="img/user/johndoe_avatar.jpg" alt="Jane Johnson" title="Jane Johnson">
									</a>
									<a href="page-user.html">Jane Johnson</a>
								</span>
							</p><!-- .meta -->

						</div><!-- .post-content -->
					</article><!-- .post -->
				</section><!-- .posts -->
				<!--<aside class="pagination devider-top devider-heavy devider-margin-medium">
					<ul>
						<li class="prev">
							<a href="#">1</a>
							<a href="#">Prev</a>
							<a href="#">9</a>
							<a href="#">10</a>
						</li>
						<li class="current">Page<br/>- 11 of 24 -</li>
						<li class="next">
							<a href="#">12</a>
							<a href="#">13</a>
							<a href="#">Next</a>
							<a href="#">24</a>
						</li>
					</ul>
				</aside>--><!-- .pagination -->

			</div><!-- #content -->

		</div><!-- .container -->
	</div><!-- #page-content -->
	{% include footer.html %}

	<!-- jQuery & Helper library -->
	<script type="text/javascript" src="js/library/jquery/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="js/library/helper/jquery.easing.min.js"></script>
	<script type="text/javascript" src="js/library/helper/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="js/library/helper/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="js/library/helper/imagesloaded.pkgd.min.js"></script>

	<!-- Retina js -->
	<script type="text/javascript" src="js/library/retina/retina.js"></script>

	<!-- FancyBox -->
	<script type="text/javascript" src="js/library/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>

	<!-- Bootstrap js -->
	<script type="text/javascript" src="js/library/bootstrap/bootstrap.min.js"></script>

	<!-- carouFredSel -->
	<script type="text/javascript" src="js/library/carouFredSel/jquery.carouFredSel-6.2.1-packed.js"></script>

	<!-- Isotope -->
	<script type="text/javascript" src="js/library/isotope/jquery.isotope.js"></script>

	<!-- Validate -->
	<script type="text/javascript" src="js/library/validate/jquery.validate.min.js"></script>

	<!-- FlickrFeed  -->
	<script type="text/javascript" src="js/library/jFlickrFeed/jflickrfeed.min.js"></script>

	<!-- Main theme javaScript file -->
	<script type="text/javascript" src="js/theme.js"></script>

</body>
</html>