<footer id="footer">
		<div class="container">
			<div class="row middle">
				<div class="col-sm-6">

					<div class="title title-main">
						<h5>Newsletter</h5>
					</div>
					<div class="text">
						<p>Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.</p>
					</div>

				</div><!-- .col-sm-6 -->
				<div class="col-sm-6">

					<form action="/php/newsletter.php" method="POST" class="subscribe form-validate">
						<button type="submit" class="btn btn-icon-newsletter"></button>
						<div class="form-field">
							<label for="subscribeemail">email...</label>
							<input type="email" maxlength="100" name="subscribeemail" id="subscribeemail" required />
						</div>
					</form>

				</div><!-- .col-sm-6 -->
			</div><!-- .row-->
		
			<hr class="devider-heavy" />
			<ul class="nav text-center">
				<li><a href="/index.html">Home</a></li>
				<li><a href="http://www.cosmeticsmile.net">Site</a></li>
				<li><a href="/blog.html">Blog</a></li>
				<li><a href="/contact.html">Contact</a></li>
			</ul>
			<hr class="devider-heavy" />
			<div class="row middle">
				<div class="col-md-7">

					<ul class="touch">
						<li><i class="fa icomoon-location"></i><p>12124 Cobblestone Dr<br />Bayonet Point, FL 34667</p></li>
						<li><i class="fa fa-phone"></i><p>(727) 862-8513</p></li>
						<li><i class="fa fa-envelope"></i><p><a href="mailto:fcld@verizon.net">FCLD@Verizon.net</a></p></li>
					</ul>

				</div><!-- .col-md-7 -->
				<div class="col-md-5">

					<ul class="social">
					<li><a href="http://www.youtube.com/user/Ltrypsin?feature=g-subs-u" class="youtube"></a></li>
					<li><a href="https://www.facebook.com/pages/The-Florida-Center-for-Laser-Dentistry/114171328593468" class="facebook"></a></li>
					<li><a href="https://plus.google.com/107222027583638509546/posts" class="google"></a></li>
				</ul><!-- .social -->

				</div><!-- .col-md-5 -->
			</div><!-- .row -->
			<div class="push"></div>
		</div><!-- .container -->
		<div class="credits"> hatched by MILLENNIUM TECHNOLOGY GROUP © 2014<span>|</span><a href="#">Terms</a><span>|</span><a href="#">Legal Notice</a></div>
</footer>