---
layout: default
title: Archive
---

<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

	<!-- Basic -->
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Jets - Responsive HTML5 Template">
	<meta name="author" content="funcoders.com">

	{% include css.html %}

</head>
<body class="blog-grid">

	<!-- preload loaders -->
	<img style="display:none" src="img/loader-light.gif" alt="loader" title="loader">
	<img style="display:none" src="img/loader-dark.gif" alt="loader" title="loader">
	{% include header.html %}
	<div id="header-space"></div>
	<div id="page-content" role="main">
		<div class="container">

			<div id="content">
				<div class="monthly-archive">
  					<div>
    					<span class="title">{{page.month | date: "%B"}} {{page.year}}</span>
  					</div>
					 <div>
					    <ul>
							{{ content }}
					    </ul>
					 </div>
				</div>				
			</div><!-- #content -->

		</div><!-- .container -->
	</div><!-- #page-content -->
	{% include footer.html %}

	{% include js.html %}

</body>
</html>